body {
    background-color: #000000;
   }

#content {
    position: absolute;
    top: 50px;
    left: 0;
}

#videos-container {
    /* width: 100%; */
    height: 250px;
}

#videol {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

#videor {
    height: 100%;
    width: 50%;
    object-fit: cover;
}