+++
title = "MUVR - Home"
linkTitle = "Home"

+++

{{< blocks/cover title="MUVR: Multi-Use Virtual Reality" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/blog/2020/09/07/native-caster-alpha-release-v0.0.1/">
		Download the Native Caster v0.0.1 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/app/caster/">
		Try out the Web Alpha <i class="fa fa-gamepad ml-2 "></i>
	</a>
	<p class="lead mt-5">Make ANY digital media from ANY computer VR capable on ANY Smartphone.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
**MUVR** is a cross-platform design to enable any digital content to by VR capable by breaking down current barriers in cost and computing. 

The only hard requirement to use MUVR is any smartphone with wifi connectivity which acts as the client screen for a VR headset.
A real-time peer-to-peer video stream can be captured and cast from any desktop screen, application window, video game, or any media in a web browser. The casting source can be a personal computer for individual users or scaled for corporate use within a cloud environment.


{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-patreon" title="Contributions welcome!" url="https://www.patreon.com/MUVR" %}}
Even **$3** a month makes a huge difference. Sign up to become a monthly patron to assist with Servers, Hosting, Hardware to properly test on, and motivation to implement new features.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-reddit" title="Join the conversation on Reddit!" url="https://reddit.com/r/MUVR" %}}
For announcements of active development on latest features, feature testing, or just to chat.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/_mattata" %}}
Want an inside look on the struggles and triumphs of building new features? Follow me on Twitter.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Features</h1>
</div>

| Browser                                                                           | Native                                                                                                               |
|-----------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|
| **Caster:** Web media such as video, canvas, and WebGL elements to the client     | **Caster:** Sending screens, application windows, and video games to the client                                      |
| **Caster:** Screens, application windows, and video games to the client           | **Caster:**  Easier feature development                                                                              |
| **Client:** Input from the smartphone attached to events on the caster web page   | **Client:** Input from the smartphone being sent to the caster to emulate mouse, keyboard, and game controller input |

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Info</h1>
</div>

Most smartphones already contain sensors capable of measuring rotation and movement in any given direction as well as support for bluetooth peripherals such as headphones, game controllers, keyboards, and mice. These sensors and input are relayed back to the casting source allowing for interactivity.

MUVR offers the performance and flexibility of your computer with the portability of your smartphone. This platform was designed with the growing popularity of low latency/high throughput 5G in mind. Don’t expect your MUVR experience to be tied to WiFi for too long.

Got a smartphone and a computer? Make sure to check out the Web Demo.

{{< /blocks/section >}}
