body {
  background-color: #222;
}

/*Logo Styles*/
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Loading Icon styles*/
.spinner{
  /*approx center*/
   position: absolute;
   top: 45%;
   left: 45%;
 }
 .spinner.hidden{
   display: none;
 }
 .bar{
   background: #d0f0dd;
   box-shadow: 0px 0px 0 #40ff22, 0px 0px 4px #30ff1f, 0px 0px 8px #20ff1b, 0px 0px 16px #10ff18;
   border-radius: 4px;
   position: absolute;
 }
 .left{
   width: 4px;
   -webkit-animation: left 2.0s linear infinite;
 }
 @-webkit-keyframes left{
   0% {
      height: 0;
       top: 96px;
       left: 0;
  }
   20% {
      height: 100px;
       top: 0;
       left: 0;
  }
   40% {
      height: 0;
       top: 0;
       left: 0;
  }
 }
 .top{
   height: 4px;
   -webkit-animation: top 2.0s linear infinite;
 }
 @-webkit-keyframes top{
   0% {
      width: 0;
       top: 0;
       left: 0;
  }
   20% {
      width: 0;
       top: 0;
       left: 0;
  }
   40% {
      width: 100px;
       top: 0;
       left: 0;
  }
   60% {
      width: 0;
       top:0;
       left: 100px;
  }
 }
 .right{
   width: 4px;
   -webkit-animation: right 2.0s linear infinite;
 }
 @-webkit-keyframes right{
   0% {
      height: 0;
       top: 0;
       left: 96px;
  }
   40% {
      height: 0;
       top: 0;
       left: 96px;
  }
   60% {
      height: 100px;
       top: 0;
       left: 96px;
  }
   80% {
      height: 0;
       top: 100px;
      left: 96px;
  }
 }
 .bottom{
   height: 4px;
   -webkit-animation: bottom 2.0s linear infinite;
 }
 @-webkit-keyframes bottom{
   0% {
      width: 0;
       top: 96px;
       left: 96px;
  }
   60% {
      width: 0;
       top: 96px;
       left: 96px;
  }
   80% {
      width: 100px;
       top:96px;
       left: 0px;
  }
   100% {
      width: 0px;
       top:96px;
       left: 0px;
  }
 }

#startmenu {
  position: absolute;
  top: 50%;
  width: 100%;
}

#loadstream {
  width: inherit;
  font-size: 36px;
  background-color: #2fcc76;
}

#content {
  position: absolute;
  top: 50px;
  left: 0;
}

#videos-container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#videol {
  /* height: 100%;
    width: 50%;
    object-fit: fill; */
  min-height: 100%;
  max-width: 50%;
  height: auto !important;
  width: auto !important;
}

#videor {
  /* height: 100%;
  width: 50%;
  object-fit: fill; */
  min-height: 100%;
  max-width: 50%;
  height: auto !important;
  width: auto !important;
}
#fieldset-displaysettings {
  /*width: 100%;*/
  text-align: center;
  color: #FFFFFF;
}