body{
  background: #222;
  margin: 0;
}

/*Logo Styles*/
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*Loading Icon styles*/
.spinner{
 /*approx center*/
  position: absolute;
  /*top: 45%;*/
  left: 45%;
}
.spinner.hidden{
  display: none;
}
.bar{
  background: #d0f0dd;
  box-shadow: 0px 0px 0 #40ff22, 0px 0px 4px #30ff1f, 0px 0px 8px #20ff1b, 0px 0px 16px #10ff18;
  border-radius: 4px;
  position: absolute;
}
.left{
  width: 4px;
  -webkit-animation: left 1s linear infinite;
}
@-webkit-keyframes left{
  0% {
     height: 0;
      top: 96px;
      left: 0;
 }
  20% {
     height: 100px;
      top: 0;
      left: 0;
 }
  40% {
     height: 0;
      top: 0;
      left: 0;
 }
}
.top{
  height: 4px;
  -webkit-animation: top 1s linear infinite;
}
@-webkit-keyframes top{
  0% {
     width: 0;
      top: 0;
      left: 0;
 }
  20% {
     width: 0;
      top: 0;
      left: 0;
 }
  40% {
     width: 100px;
      top: 0;
      left: 0;
 }
  60% {
     width: 0;
      top:0;
      left: 100px;
 }
}
.right{
  width: 4px;
  -webkit-animation: right 1s linear infinite;
}
@-webkit-keyframes right{
  0% {
     height: 0;
      top: 0;
      left: 96px;
 }
  40% {
     height: 0;
      top: 0;
      left: 96px;
 }
  60% {
     height: 100px;
      top: 0;
      left: 96px;
 }
  80% {
     height: 0;
      top: 100px;
     left: 96px;
 }
}
.bottom{
  height: 4px;
  -webkit-animation: bottom 1s linear infinite;
}
@-webkit-keyframes bottom{
  0% {
     width: 0;
      top: 96px;
      left: 96px;
 }
  60% {
     width: 0;
      top: 96px;
      left: 96px;
 }
  80% {
     width: 100px;
      top:96px;
      left: 0px;
 }
  100% {
     width: 0px;
      top:96px;
      left: 0px;
 }
}

/*Start button*/
#startmenu{
  position: absolute;
  top: 50%;
  width:100%;
}

#loadstream{
  width: inherit;
  font-size: 36px;
  background-color: #2fcc76;
}

/*Screen capture grid styles*/
.webview-stream-list {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 3px;
}

.webview-stream-list > .griditem{
  display: block;
  border-style: solid;
  border-color: #2fcc76;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.webview-stream-list > .griditem > .gridimage{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-height: 75%;
}

/*QR Code display styles*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: #FFFFFF;
  background-color: #222;
  margin: auto;
  padding: 20px;
  border: 3px solid #888;
  width: 50%;
  min-width: min-content;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#status {
  display: none;
  float: right;
  background: #222;
  color: #2fcc76;
}

/* #videosContainer {
  display: none;
} */

#mediaCaptureVideo {
  display: none;
}

#logDiv {
  display: inline;
  vertical-align: top;
}

#logs {
  width: 250px;
  height: 250px;
  font-size: 36px;
  background-color: #222;
  color: #FFFFFF;
  border-style: solid;
  border-color: #2fcc76;
}